---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "Septiembre 2024 - Actualidad",
        title: "CFGS Desarrollo de Aplicaciones Multiplataforma",
        institution: "Instituto Tecnologico de Barcelona",
        description:
        "Formación profesional de grado superior centrada en el desarrollo de aplicaciones para múltiples plataformas, incluyendo dispositivos móviles y entornos web.",
    },
    {
        date: "Febrero 2023 - Marzo 2023",
        title: "Lógica y Fundamentos de Programación",
        institution: "Platzi",
        description:
            "Programa formativo centrado en los principios fundamentales de la programación, abarcando lógica computacional, estructuras de control, manejo de datos y diseño de algoritmos básicos.",
    },
    {
        date: "Junio 2021 - Septiembre 2021",
        title: "Aplicacion de Electronica y Robotica en Proyectos de Ciencia e Innovacion",
        institution: "SENA",
        description:
            "Curso enfocado en la electrónica y robótica aplicada a proyectos de ciencia e innovación, proporcionando conocimientos prácticos y teóricos para el desarrollo de soluciones tecnológicas.",
    },

];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
        EXPERIENCE.map((Experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...Experience} />
            </li>
        ))
    }
</ol>
