<footer class="rounded-lg shadow m-4 black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10">
    <div
        class="w-full mx-auto max-w-7xl p-4 md:flex md:items-center md:justify-between"
    >
        <span class="text-sm sm:text-center dark:text-blue-500"
            >© 2025 <a href="https://williamG7.dev/" class="hover:underline"
                >WilliamG7</a
            >. Derechos reservados.
        </span>
        <ul
            class="flex flex-wrap items-center mt-3 text-sm font-medium text-white/90 sm:mt-0"
        >
            <li>
                <a href="#top" class="hover:underline me-4 md:me-6">Inicio</a>
            </li>
            <li>
                <a href="#experiencia" class="hover:underline me-4 md:me-6"
                    >Formación</a
                >
            </li>
            <li>
                <a href="#proyectos" class="hover:underline me-4 md:me-6">Proyectos</a>
            </li>
            <li>
                <a href="#sobreMi" class="hover:underline me-4 md:me-6">Sobre mi</a>
            </li>
            <li>
                <a href="#contacto" class="hover:underline">Contacto</a>
            </li>
        </ul>
    </div>
</footer>
