<header class="sticky top-0 z-50 flex justify-center items-center py-5 w-full">
    <nav class="flex flex-row gap-x-10 opacity-80 backdrop-blur-md bg-black/20 border border-white/10 rounded-full px-8 py-3">
        <a href="#top" class="hover:text-sky-400 transition-colors">Inicio</a>
        <a href="#experiencia" class="hover:text-sky-400 transition-colors">Formación</a>
        <a href="#proyectos" class="hover:text-sky-400 transition-colors">Proyectos</a>
        <a href="#sobreMi" class="hover:text-sky-400 transition-colors">Sobre Mí</a>
        <a href="#contacto" class="hover:text-sky-400 transition-colors">Contacto</a>
    </nav>
</header>
