---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import "../styles/global.css";

import "@fontsource-variable/onest";

interface Props {
	title: string

	description: string;
}

const { title, description } = Astro.props 
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-neutral-950 relative">
		<div
			class="fixed inset-0 -z-10 w-full h-full
			[background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
		>
		</div>

		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		font-family: "Onest Variable", sans-serif;
		scroll-behavior: smooth;
	}

	body {
		background: #050505;
		color: #ffffff;
		display: flex;
		flex-direction: column;
		min-height: 100vh;

	}

	@media(prefers-reduce-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
